      <section id="login">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form action="#">
                  <h1 class="mt-4">Um titulo</h1>
                  <hr class="mb-5" />
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-lg">User</span>
                    </div>
                    <!--/input-group-prepend-->
                    <input id="user-login" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
                  <!--/input-group input-group-lg-->
                  <br />
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-lg">Pass</span>
                    </div>
                    <!--/input-group-prepend-->
                    <input id="user-pass" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
                  <!--/input-group input-group-lg-->
                  <a href="" id="login-submit" class="btn btn-dark text-light mt-4 pl-4 pr-4">Login</a>
              </form>
              <!--/form-->
              <br />
              <a href="/new-account" class="new-account">Create a account</a>
            </div>
            <!--/.col-12-->
          </div>
          <!--/.row-->
        </div>
        <!--/.container-->
      </section>
      <!-- /#login -->
