      <section id="dashboard">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <!-- DASHBOARD BODY -->
                    <div class="nav shadow-lg">
                        <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.3" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                        <!-- profile -->

                        <!-- /#profile -->
                        <!-- logout -->

                        <!-- /#logout -->
                        <!-- upload -->
                            <img id="upload_file" src="https://cdn3.iconfinder.com/data/icons/folders-files/512/text_write_article_pencil-512.png" alt="" class="img-fluid" />
                        <!-- /#upload -->
                        
                    </div>
                    <!-- /.nav -->
                    <div class="container-fluid media-features mt-2">
                        <div class="row">
                            <div class="col-12 row" id="search_return">
                                <div class="media mt-2">
                                    <img src="https://via.placeholder.com/150" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0">Media heading</h5>
                                        Cras sit amet nibh libero, in gravida nulla. 
                                        Cras sit amet nibh libero, in gravida nulla. 
                                    </div>
                                    <!-- /. media-body-->
                                </div>
                                <!-- /.media -->
                                <div class="media mt-2">
                                    <img src="https://via.placeholder.com/150" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0">Media heading</h5>
                                        Cras sit amet nibh libero, in gravida nulla. 
                                        Cras sit amet nibh libero, in gravida nulla. 
                                    </div>
                                    <!-- /. media-body-->
                                </div>
                                <!-- /.media -->
                            </div>
                            <!-- /.col-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                <!--/ END DASHBOARD BODY -->
            </div>
            <!--/.col-12-->
          </div>
          <!--/.row-->
        </div>
        <!--/.container-->
      </section>
      <!-- /#dashboard -->