      <section id="dashboard" user="<?php echo $_COOKIE['session']; ?>">
        <div class="container">
          <div class="row">
            <div class="col-12">
                <!-- DASHBOARD BODY -->
                    <div class="nav .shadow-lg">
                        <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.3" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                        <!-- profile -->

                        <!-- /#profile -->
                        <!-- logout -->

                        <!-- /#logout -->
                        <!-- upload -->
                            <img id="upload_file" src="https://image.flaticon.com/icons/png/512/337/337118.png" alt="" class="img-fluid" data-toggle="modal" data-target="#newContent"/>
                        <!-- /#upload -->
                        
                    </div>
                    <!-- /.nav -->
                    <div class="container-fluid media-features mt-2">
                        <div class="row" id="search_return">
                            <!-- # -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                <!--/ END DASHBOARD BODY -->
            </div>
            <!--/.col-12-->
          </div>
          <!--/.row-->
        </div>
        <!--/.container-->
      </section>
      <!-- /#dashboard -->




<!-- Modal section -->
<div class="modal fade" id="newContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Blog</a>
          </li>
          <!--/.nav-item-->
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Picture</a>
          </li>
          <!--/.nav-item-->
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Video</a>
          </li>
          <!--/.nav-item-->
        </ul>
        <!-- /.nav nav-pills mb-3 -->
      </div>
      <!--/.modal-header-->
      <div class="modal-body">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <input class="text-center" type="text" id="blog_title" placeholder="Title" />
                </div> 
                <!--/.col-12-->
                <div class="col-12 text-center">
                  <p class="">Blog Thumbnail</p>
                  <input type="file"  class="d-none" />
                </div> 
                <!--/.col-12-->
              </div> 
              <!--/.row-->
            </div> 
            <!--/.container-->


                
                


                <textarea id="blog_editor"></textarea>
                <link rel="stylesheet" href="assets/jodit/jodit.min.css"/>
                <link rel="stylesheet" href="assets/jodit/app.css"/>

                <script src="assets/jodit/jodit.min.js"></script>
                <script src="assets/jodit/prism.js"></script>
                <script src="assets/jodit/app.js"></script>
                <script>
                    var editor = new Jodit('#blog_editor', {
                       //
                    });
                </script>
                <hr />
                <script src="assets/js/jquery-ui.js"></script>
                <script src="assets/js/rainbow-custom.min.js"></script>
                <script src="assets/js/taggle.min.js"></script>
                <script src="assets/js/scripts.js"></script>
                <div id="blog_tags"></div>
                <script>new Taggle('blog_tags');</script>

                <a class="btn btn-dark" href="#send" id="new-blog">Postar blog</a>
          </div>
          <!--/.end blog-->
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container">
              <div class="row">
                <div class="col-12 pt-3 pb-3 bg-dark text-light mb-3">
                  <input type="file" />
                </div> 
                <!--/.col-12-->
                <div class="col-12 text-left">
                  <p>Description</p>
                </div> 
                <!--/.col-12-->
                <div class="col-12">
                  <textarea class="w-100" name="" id="" cols="30" rows="10"></textarea>
                </div> 
                <!--/.col-12-->
              </div> 
              <!--/.row-->
            </div> 
            <!--/.container-->
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="container">
              <div class="row">
                <div class="col-12 pt-3 pb-3 bg-dark text-light mb-3">
                  <input type="file" />
                </div> 
                <!--/.col-12-->
                <div class="col-12 text-left">
                  <p>Description</p>
                </div> 
                <!--/.col-12-->
                <div class="col-12">
                  <textarea class="w-100" name="" id="" cols="30" rows="10"></textarea>
                </div> 
                <!--/.col-12-->
              </div> 
              <!--/.row-->
            </div> 
            <!--/.container-->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
      </div>
      <!--/.modal-footer-->
    </div>
    <!--/.modal-content-->
  </div>
  <!--/.modal-dialog modal-lg-->
</div>
<!--/.modal-->






<!-- ################### Modal content open -->
<!-- Modal section -->
<div class="modal fade" id="open_media" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="btn btn-dark text-light" data-toggle="modal" data-target="#open_media">X</a>
      </div>
      <!--/.modal-header-->
      <div class="modal-body">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row">
                <div class="col-12" id="get_blog">
                  
                </div> 
                <!--/.col-12-->
              </div> 
              <!--/.row-->
            </div> 
            <!--/.container-->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="rating">
                <ul class="rating_sticks">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div> 
              <!--/.rating-->
            </div> 
            <!--/.col-12-->
            <div class="col-12">
              <div class="quotes">
                quotes
              </div> 
              <!--/.quotes-->
            </div> 
            <!--/.col-12-->
            <div class="col-12">
              <div class="container-fluid p-0 m-0">
                <div class="row">
                  <div class="col-12 col-md-8">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                  </div> 
                  <!--/.col-12 col-md-8-->
                  <div class="col-12 col-md-4">
                    <a href="#" class="btn btn-dark text-light">Send</a>
                  </div> 
                  <!--/.col-12 col-md-4-->
                </div> 
                <!--/.row-->
              </div> 
              <!--/.container-->
            </div> 
            <!--/.col-12-->
          </div> 
          <!--/.row-->
        </div> 
        <!--/.container-fluid-->
      </div>
      <!--/.modal-footer-->
    </div>
    <!--/.modal-content-->
  </div>
  <!--/.modal-dialog modal-lg-->
</div>
<!--/.modal-->